<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

 <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    			  rel="stylesheet" />
    		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="../assets/js/customized_panda.js" type="text/javascript"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
	<div th:replace="/header :: header" />
<div class="container"><br/> <br/><br/>

	<div class="row">
		<div class= "col-sm-3" >
	 		<p>Catagory Wish List </p>
	 		<div class="list-group">
	 			<a href="#" class="list-group-item">Wish List 1</a>
				<a href="#" class="list-group-item">Wish List 2</a>
	 			<a href="#" class="list-group-item">Wish List 3</a>
	  			<a id= "btnCreate" href="#" class="btn btn-primary btn-block" >Add New</a>
	  		</div>
	  		
			 <div id="hideCataWL">
				 <form action="#" th:action="@{/wishlist/catagory}" th:object="${catagory}" method="post">
			    		<input th:type="text" name="name" />
				 	<button th:id="submit"> Add </button>
				 </form>
			 </div>
	 
	 	</div>
		<div class= "col-sm-9"> 
			<p>Create Wish List </p> 
			<div class = "row">
				<table class="table table-bordered table-hover">
	                    <thead>
	                        <tr>
	                            <th>No</th>
	                            <th>Image</th>
	                            <th>Name</th>
	                            <th>Edit</th>
	                            <th>Delete</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr th:each="wishlist,iter : ${wishlists}">
	                            <td th:text="${iter.count}"></td>
	                            <td th:text="${wishlist.name}"></td>
	                            <td th:text="${wishlist.iamge}"></td>
	                            <td><a th:href="@{/wishlist/{id}/edit(id=${wishlist.id})}"><span class="glyphicon glyphicon-pencil"></span></a></td>
	                            <td><a th:href="@{/wishlist/{id}/delete(id=${wishlist.id})}"><span class="glyphicon glyphicon-trash"></span></a></td>
	                        </tr>
	                    </tbody>
	                </table>
			</div>
			<div>
				<a id= "newWL" href="#" class="btn btn-primary btn-block" >Create new  wish list</a> <br/>
			</div>
			<div id="hideWL">
				<form action="#" th:action="@{/wishlist/newwishlist}" th:object="${wishlist}" method="post">
			    		Image <input th:type="text" name="image" /> <br/>
			    		Name  <input th:type="text" name="name" />
				 	<button th:id="btnCreateWL" class="btn btn-primary">create new wish</button>
				 </form>
			</div>
			
		</div>
		
    </div>
</div>


</html>
